/* Ensure the text is white */
.white-text {
    color: #fff;
}

/* Additional styles for the custom plan input and button */
#customDays {
    width: 100%;
    padding: 10px;
    margin-bottom: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#customPlanButton {
    padding: 10px 20px;
    background-color: #e1ac19;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#customPlanButton:hover {
    background-color: #dcb43b;
}

#transactionCountdown {
    font-size: 20px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

#doneButton {
    padding: 10px 20px;
    background-color: #c2c2c2;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    text-align: center;

}


#doneButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left : 750px;
    margin-top : 50px;
    text-align: center;
}

.transaction-history-container h2 {
    margin-top: 100px;
    margin-left : 50px;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content (if required) */
    text-align: center; /* Ensures the text inside is centered */
}

.hidden {
    display: none;
}

/* Add this to your CSS file (transaction.css) */
.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #333;
    color: #fff;
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 1000; /* Ensure it appears above other elements */
}