body {
    font-family: Arial, sans-serif;
    }

    table,th,td{
        border: 1px solid white;
        border-collapse: collapse;
    }

    div.table{
        display: flex;
    }

    div.table div{
        padding: 20px;
    }

    div.form-section{
        display: flex;
    }

    div.form-section div{
        padding: 10px;
    }

    div.form-section2{
        display: flex;
        width: fit-content;
        padding: 10px;
    }

    div.displayTable{
        min-width: 400px;
        padding: 10px;
    }
    div #results{
        color: #fff;
    }

    .Votecontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
    text-align: center;

    }

    .form-section {
    margin-bottom: 30px;
    }

    label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    }

    input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    }

    button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    }

    button:hover {
    background-color: #555;
    }

    #results, #voteStatus, #periodStatus {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    }
